<MarketplaceDetails>
  <SmallAppTile>ApplicationIcon.png</SmallAppTile>
  <ScreenShots>480_1.png;480_2.png;480_3.png;;;;;;</ScreenShots>
  <ScreenShotsWXGA>768_1.png;768_2.png;768_3.png;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>720_1.png;720_2.png;720_3.png;;;;;;</ScreenShots720P>
</MarketplaceDetails>